# FAANG Stock Analysis and Predictor

In this notebook, we are taking a look at the five most popular and best performing American technology companies: Facebook, Amazon, Apple, Netflix, and Google. In the notebook, there will be an analysis on the stock performance in the year 2020, as well as a prediction algorithm (using machine learning) that will be run on each of the five stocks to ulimately provide a complete analysis of all five stocks.

In [64]:
import math
from datetime import date
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [44]:
# Get the data from all of the FAANG stocks
fb_data = web.DataReader('FB', data_source='yahoo', start='2020-01-01', end=date.today())
amzn_data = web.DataReader('AMZN', data_source='yahoo', start='2020-01-01', end=date.today())
aapl_data = web.DataReader('AAPL', data_source='yahoo', start='2020-01-01', end=date.today())
nflx_data = web.DataReader('NFLX', data_source='yahoo', start='2020-01-01', end=date.today())
goog_data = web.DataReader('GOOG', data_source='yahoo', start='2020-01-01', end=date.today())

In [62]:
# Put all of the adj. closing prices into one dataframe
tickers = ['FB', 'AMZN', 'AAPL', 'NFLX', 'GOOG']
faang_data = pd.DataFrame(data=list, index=fb_data.index, columns=tickers)
faang_data['FB'] = fb_data['Adj Close']
faang_data['AMZN'] = amzn_data['Adj Close']
faang_data['AAPL'] = aapl_data['Adj Close']
faang_data['NFLX'] = nflx_data['Adj Close']
faang_data['GOOG'] = goog_data['Adj Close']

In [63]:
# Show the data
faang_data

                    FB         AMZN        AAPL        NFLX         GOOG
Date
2020-01-02  209.779999  1898.010010   74.573036  329.809998  1367.369995
2020-01-03  208.669998  1874.969971   73.848030  325.899994  1360.660034
2020-01-06  212.600006  1902.880005   74.436470  335.829987  1394.209961
2020-01-07  213.059998  1906.859985   74.086395  330.750000  1393.339966
2020-01-08  215.220001  1891.969971   75.278160  339.260010  1404.319946
...                ...          ...         ...         ...          ...
2020-10-12  275.750000  3442.929932  124.400002  539.809998  1569.150024
2020-10-13  276.140015  3443.629883  121.099998  554.090027  1571.680054
2020-10-14  271.820007  3363.709961  121.190002  541.450012  1568.079956
2020-10-15  266.720001  3338.649902  120.709999  541.940002  1559.130005
2020-10-16  265.929993  3272.709961  119.019997  530.789978  1573.010010

[201 rows x 5 columns]